#template1 {
    background-color: #0096FF;
    color: white;
}

#template1:hover {
    background-color: #0b8eeb;
}

#template2 {
    background-color: #ff8db3;
    color: white;
}

#template2:hover {
    background-color: #fd82ab;
}

#template3 {
    background-color: #66bb6a;
    color: white;
}

#template3:hover {
    background-color: #58b35c;
}

#template4 {
    background-color: #fdd835;
    color: white;
}

#template4:hover {
    background-color: #f2cd27
}

#template5 {
    background-color: #00bcd4;
    color: white;
}

#template5:hover {
    background-color: #01b1c9;
}

#template6 {
    background-color: #ba68c8;
    color: white;
}

#template6:hover {
    background-color: #b35ec2;
}

#template7 {
    background-color: #007bff;
    color: white;
}

#template7:hover {
    background-color: #016de0;
}

#template8 {
    background-color: #bfe5f7;
    color: black;
}

#template8:hover {
    background-color: #99daf9;
}

#template9 {
    background-color: #ff9800;
    color: white;
}

#template9:hover {
    background-color: #df8602;
}

#template10 {
    background-color: #ff00cc;
    color: white;
}

#template10:hover {
    background-color: #d702ad;
}

#template11 {
    background-color: #f48fb1;
    color: white;
}

#template11:hover {
    background-color: #f07aa1;
}

#template12 {
    background-color: #0d47a1;
    color: white;
}

#template12:hover {
    background-color: #053d91;
}

#template13 {
    background-color: #fff176;
    color: white;
}

#template13:hover {
    background-color: #f5e764;
}

#template14 {
    background-color: #e1bee7;
    color: white;
}

#template14:hover {
    background-color: #d39bdd;
}