<div class="templatediv" style="min-height: 300px;
display: flex;">
    <img style="position: relative;height: 300px; border-radius: 15px;"
        src="https://c4.wallpaperflare.com/wallpaper/381/33/164/naruto-shippuuden-realistic-sakimichan-uchiha-itachi-wallpaper-preview.jpg"
        alt="itachi uchica image">

    <p style="color: rgb(0, 0, 0);
width: 300px;
font-size: 30px;
margin: auto 50px;
">Let's meet at 8pm, at high square.</p>
</div>

<div class="templatediv" style="min-height: 300px;
display: flex;">
    <img style="position: relative;height: 300px; border-radius: 15px;
width: 400px;
object-fit: cover;"
        src="https://c4.wallpaperflare.com/wallpaper/622/941/214/jujutsu-kaisen-satoru-gojo-hd-wallpaper-preview.jpg"
        alt="itachi uchica image">

    <p style="color: rgb(0, 0, 0);
width: 300px;
font-size: 30px;
margin: auto 50px;
">Keep the message short for this email style for better look.</p>
</div>

<div class="templatediv" style="min-height: 300px;
display: flex;">
    <img style="position: relative;height: 300px; border-radius: 15px;
width: 400px;
object-fit: cover;"
        src="https://c4.wallpaperflare.com/wallpaper/261/728/884/one-piece-monkey-d-luffy-portgas-d-ace-wallpaper-preview.jpg"
        alt="itachi uchica image">

    <p style="color: rgb(0, 0, 0);
width: 300px;
font-size: 30px;
margin: auto 50px;
">Keep the message short for this email style for better look.</p>
</div>

<div class="templatediv" style="min-height: 300px;
display: flex;">
    <img style="position: relative;height: 300px; border-radius: 15px;
width: 400px;
object-fit: cover;"
        src="https://c4.wallpaperflare.com/wallpaper/569/778/349/code-geass-lamperouge-lelouch-zero-anime-wallpaper-preview.jpg"
        alt="itachi uchica image">

    <p style="color: rgb(0, 0, 0);
width: 300px;
font-size: 30px;
margin: auto 50px;
">Keep the message short for this email style for better look.</p>
</div>

<div class="templatediv" style="min-height: 300px;
display: flex;">
    <img style="position: relative;height: 300px; border-radius: 15px;
width: 400px;
object-fit: cover;"
        src="https://c4.wallpaperflare.com/wallpaper/688/122/437/cowboy-bebop-spike-spiegel-smoking-anime-boys-wallpaper-preview.jpg"
        alt="itachi uchica image">

    <p style="color: rgb(0, 0, 0);
width: 300px;
font-size: 30px;
margin: auto 50px;
">Keep the message short for this email style for better look.</p>
</div>

<div class="templatediv" style="min-height: 300px;
display: flex;">
    <img style="position: relative;height: 300px; border-radius: 15px;
width: 400px;
object-fit: cover;"
        src="https://c4.wallpaperflare.com/wallpaper/147/939/790/digital-art-anime-naruto-shippuuden-hatake-kakashi-wallpaper-preview.jpg"
        alt="itachi uchica image">

    <p style="color: rgb(0, 0, 0);
width: 300px;
font-size: 30px;
margin: auto 50px;
">Keep the message short for this email style for better look.</p>
</div>